[Ll]ibrary/
[Tt]emp/
[Oo]bj/
.~lock.*
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.apk
/*.gitlog
/*.dll
*.dll
*.dll
*.mdb
CSharpMaker/Library/metadata/dc/dcc721b025a554be98427121ed1bd7a0
CSharpMaker/Library/metadata/69/6965cf4fc8e594b488f68f6e8ebe5284
CSharpMaker/Library/assetDatabase3
*.dll
*.mdb
CSharpMaker/Library/metadata/dc/dcc721b025a554be98427121ed1bd7a0
CSharpMaker/Library/metadata/69/6965cf4fc8e594b488f68f6e8ebe5284
CSharpMaker/Library/metadata/5c/5cc4890f7204e4480b17abb113ecf1c0
CSharpMaker/Library/assetDatabase3
*.userprefs
